In [1]:
import pandas as pd

In [2]:
aduanas = pd.read_csv('/home/luis-loreto/Documentos/Trabajo/Balanza2024_ANAM/Lista_de_aduanas_2023.csv', sep = '|')

In [3]:
aduanas

     Seccion aduanera                                             Nombre
0                  10            Acapulco, Acapulco de Juárez, Guerrero.
1                  12  Aeropuerto Internacional General Juan N. Álvar...
2                  20                  Agua Prieta, Agua Prieta, Sonora.
3                  50  Subteniente López, Subteniente López, Quintana...
4                  51  Subteniente López II “Chactemal”, Othón P. Bla...
..                ...                                                ...
119               834                      El Ceibo, Tenosique, Tabasco.
120               840                     Guanajuato, Silao, Guanajuato.
121               841                        Celaya, Celaya, Guanajuato.
122               842  Aeropuerto Internacional de Guanajuato, Silao,...
123               850  Aeropuerto Internacional Felipe Ángeles, Zumpa...

[124 rows x 2 columns]

In [13]:
def imp_b(num, mes):

       B1 = pd.read_csv(f'/home/luis-loreto/Documentos/Trabajo/Balanza2024_ANAM/{num}{mes}2024/t_551_01.txt', 
                        sep = '|', header=None, usecols=[0, 1, 2, 8, 10, 21], 
                        names=['Patente aduanal', 'Numero de pedimento', 'Seccion aduanera', 'Valor en aduana', 'Valor en dólares', 'Pais de origen'])
    
       B2 = pd.read_csv(f'/home/luis-loreto/Documentos/Trabajo/Balanza2024_ANAM/{num}{mes}2024/t_551_02.txt', 
                        sep = '|', header=None, usecols=[0, 1, 2, 8, 10, 21], 
                        names=['Patente aduanal', 'Numero de pedimento', 'Seccion aduanera', 'Valor en aduana', 'Valor en dólares', 'Pais de origen'])
       
       B3 = pd.read_csv(f'/home/luis-loreto/Documentos/Trabajo/Balanza2024_ANAM/{num}{mes}2024/t_551_03.txt', 
                        sep = '|', header=None, usecols=[0, 1, 2, 8, 10, 21], 
                        names=['Patente aduanal', 'Numero de pedimento', 'Seccion aduanera', 'Valor en aduana', 'Valor en dólares', 'Pais de origen'])
        
       
       B = pd.concat([B1, B2, B3], axis=0)
       return B

In [3]:
def imp_a(num, mes):
    A = pd.read_csv(f'/home/luis-loreto/Documentos/Trabajo/Balanza2024_ANAM/{num}{mes}2024/t_501.txt', 
        sep = '|', header=None, usecols=[0, 1, 2, 3, 4], 
        names=['Patente aduanal', 'Numero de pedimento', 'Seccion aduanera', 
               'Tipo de operacion', 'Clave de documento'])
    
    A = A[(A['Tipo de operacion'] == 1) & (A['Clave de documento'] == 'T1')]
    
    return A

In [4]:
jan_a = imp_a("01", "Enero")
jan_b = imp_b("01", "Enero")
Enero = pd.merge(jan_a, jan_b, on = ['Patente aduanal', 'Numero de pedimento', 'Seccion aduanera'], how='left')
Enero = Enero[['Seccion aduanera', 'Valor en aduana', 'Valor en dólares', 'Pais de origen']]
del jan_a, jan_b
mar_a = imp_a("03", "Marzo")
mar_b = imp_b("03", "Marzo")
Marzo = pd.merge(mar_a, mar_b, on = ['Patente aduanal', 'Numero de pedimento', 'Seccion aduanera'], how='left')
Marzo = Marzo[['Seccion aduanera', 'Valor en aduana', 'Valor en dólares', 'Pais de origen']]
del mar_a, mar_b
abr_a = imp_a("04", "Abril")
abr_b = imp_b("04", "Abril")
Abril = pd.merge(abr_a, abr_b, on = ['Patente aduanal', 'Numero de pedimento', 'Seccion aduanera'], how='left')
Abril = Abril[['Seccion aduanera', 'Valor en aduana', 'Valor en dólares', 'Pais de origen']]
del abr_a, abr_b
may_a = imp_a("05", "Mayo")
may_b = imp_b("05", "Mayo")
Mayo = pd.merge(may_a, may_b, on = ['Patente aduanal', 'Numero de pedimento', 'Seccion aduanera'], how='left')
Mayo = Mayo[['Seccion aduanera', 'Valor en aduana', 'Valor en dólares', 'Pais de origen']]
del may_a, may_b
jun_a = imp_a("06", "Junio")
jun_b = imp_b("06", "Junio")
Junio = pd.merge(jun_a, jun_b, on = ['Patente aduanal', 'Numero de pedimento', 'Seccion aduanera'], how='left')
Junio = Junio[['Seccion aduanera', 'Valor en aduana', 'Valor en dólares', 'Pais de origen']]
del jun_a, jun_b
jul_a = imp_a("07", "Julio")
jul_b = imp_b("07", "Julio")
Julio = pd.merge(jul_a, jul_b, on = ['Patente aduanal', 'Numero de pedimento', 'Seccion aduanera'], how='left')
Julio = Julio[['Seccion aduanera', 'Valor en aduana', 'Valor en dólares', 'Pais de origen']]
del jul_a, jul_b
ago_a = imp_a("08", "Agosto")
ago_b = imp_b("08", "Agosto")
Agosto = pd.merge(ago_a, ago_b, on = ['Patente aduanal', 'Numero de pedimento', 'Seccion aduanera'], how='left')
Agosto = Agosto[['Seccion aduanera', 'Valor en aduana', 'Valor en dólares', 'Pais de origen']]
del ago_a, ago_b
sep_a = imp_a("09", "Septiembre")
sep_b = imp_b("09", "Septiembre")
Septiembre = pd.merge(sep_a, sep_b, on = ['Patente aduanal', 'Numero de pedimento', 'Seccion aduanera'], how='left')
Septiembre = Septiembre[['Seccion aduanera', 'Valor en aduana', 'Valor en dólares', 'Pais de origen']]
del sep_a, sep_b

In [22]:
Enero = Enero[(Enero['Tipo de operacion'] == 1) & (Enero['Clave de documento'] == 'T1')]
Marzo = Marzo[(Marzo['Tipo de operacion'] == 1) & (Marzo['Clave de documento'] == 'T1')]
Abril = Abril[(Abril['Tipo de operacion'] == 1) & (Abril['Clave de documento'] == 'T1')]
Mayo = Mayo[(Mayo['Tipo de operacion'] == 1) & (Mayo['Clave de documento'] == 'T1')]
Junio = Junio[(Junio['Tipo de operacion'] == 1) & (Junio['Clave de documento'] == 'T1')]
Julio = Julio[(Julio['Tipo de operacion'] == 1) & (Julio['Clave de documento'] == 'T1')]
Agosto = Agosto[(Agosto['Tipo de operacion'] == 1) & (Agosto['Clave de documento'] == 'T1')]
Septiembre = Septiembre[(Septiembre['Tipo de operacion'] == 1) & (Septiembre['Clave de documento'] == 'T1')]

In [23]:
def union(num, mes, parte):
    df = pd.read_csv(f'/home/luis-loreto/Documentos/Trabajo/Balanza2024_ANAM/{num}{mes}2024/t_551_{parte}.txt', 
                sep = '|', header=None, usecols=[0, 1, 2, 8, 10, 21], 
                names=['Patente aduanal', 'Numero de pedimento', 'Seccion aduanera', 
                       'Valor en aduana', 'Valor en dólares', 'Pais de origen'])
    return df

In [ ]:
Enero_01 = union("01","Enero", "01")
Enero_02 = union("01","Enero", "02")
Enero_ = pd.concat([Enero_01, Enero_02], axis=0)

In [9]:
merged = pd.merge(Enero, Enero_, on = ['Patente aduanal', 'Numero de pedimento', 'Seccion aduanera'], how='left')

In [10]:
merged

,Patente aduanal,Numero de pedimento,Seccion aduanera,Tipo de operacion,Clave de documento,Valor en aduana,Valor en dólares,Pais de origen
0,1695,f`bYVYU,650,1,T1,24620.0,1443.23,GBR
1,1695,ica\ZY[,650,1,T1,1705.0,100.00,USA
2,1695,ica\ZY[,650,1,T1,6649.0,390.00,CHN
3,1695,ica\ZY[,650,1,T1,6333.0,371.45,USA
4,1695,ica\ZY[,650,1,T1,15948.0,935.43,USA
...,...,...,...,...,...,...,...,...
17920405,973,jc`^[^],71,1,T1,14479.0,840.15,CHN
17920406,973,jc`^[^],71,1,T1,10340.0,600.00,CHN
17920407,973,jc`^[^],71,1,T1,16163.0,937.89,USA
17920408,973,jc`^[^],71,1,T1,8358.0,485.00,CHN
17920409,973,jc`^[^],71,1,T1,8206.0,476.16,GBR

In [2]:
A = pd.read_csv('/home/luis-loreto/Documentos/Trabajo/Balanza2024_ANAM/01Enero2024/t_501.txt', 
                    sep = '|', header=None, usecols=[0, 1, 2, 3, 4], 
                    names=['Patente aduanal', 'Numero de pedimento', 'Seccion aduanera', 
                           'Tipo de operacion', 'Clave de documento'])

In [3]:
A1 = A[(A['Tipo de operacion'] == 1) & (A['Clave de documento'] == 'T1')]

In [4]:
A2 = A1[['Patente aduanal', 'Numero de pedimento', 'Seccion aduanera']]

In [5]:
B1 = pd.read_csv('/home/luis-loreto/Documentos/Trabajo/Balanza2024_ANAM/01Enero2024/t_551_01.txt', 
                    sep='|', header=None, usecols=[0, 1, 2, 8, 10, 21], 
                    names=['Patente aduanal', 'Numero de pedimento', 'Seccion aduanera', 
                           'Valor en aduana', 'Valor en dolares', 'Pais de origen'])

In [6]:
B2 = pd.read_csv('/home/luis-loreto/Documentos/Trabajo/Balanza2024_ANAM/01Enero2024/t_551_02.txt', 
                    sep='|', header=None, usecols=[0, 1, 2, 8, 10, 21], 
                    names=['Patente aduanal', 'Numero de pedimento', 'Seccion aduanera', 
                           'Valor en aduana', 'Valor en dolares', 'Pais de origen'])

In [7]:
B = pd.concat([B1, B2], axis=0)

In [10]:
merged = pd.merge(A1, B, on = ['Patente aduanal', 'Numero de pedimento', 'Seccion aduanera'], how='inner')

In [11]:
merged

,Patente aduanal,Numero de pedimento,Seccion aduanera,Tipo de operacion,Clave de documento,Valor en aduana,Valor en dolares,Pais de origen
0,1695,f`bYVYU,650,1,T1,24620.0,1443.23,GBR
1,1695,ica\ZY[,650,1,T1,1705.0,100.00,USA
2,1695,ica\ZY[,650,1,T1,6649.0,390.00,CHN
3,1695,ica\ZY[,650,1,T1,6333.0,371.45,USA
4,1695,ica\ZY[,650,1,T1,15948.0,935.43,USA
...,...,...,...,...,...,...,...,...
17920405,973,jc`^[^],71,1,T1,14479.0,840.15,CHN
17920406,973,jc`^[^],71,1,T1,10340.0,600.00,CHN
17920407,973,jc`^[^],71,1,T1,16163.0,937.89,USA
17920408,973,jc`^[^],71,1,T1,8358.0,485.00,CHN
17920409,973,jc`^[^],71,1,T1,8206.0,476.16,GBR